.MuiInput-underline:after {
  border-bottom-color: #5a8bbd;
}

#scroll-dialog-title > h2 > div > div {
  border-bottom-color: #5a8bbd;
}

body > div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper {
  align-items: center;
}

body > div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div {
  height: 80%;
}

.MuiInput-colorSecondary.MuiInput-underline:after {
  border-bottom-color: #5a8bbd;
}

body > div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div > div.MuiDialogContent-root.MuiDialogContent-dividers {
  padding-top: 0;
}

#scroll-dialog-description > ul {
  padding-top: 0;
}

.cancelButton {
  padding: 6px 8px !important;
}

#scroll-dialog-title > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.textOverflow2 span {
  max-width: 95%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -3px;
  word-break: break-all;
  white-space: nowrap;
}

.temporaryHide {
  display: none;
}

#dialogInput {
  margin-top: 0.1em;
}