.MuiInput-underline:after {
  border-bottom-color: #5a8bbd;
}

/* #myButton {
  color: #5b87b5;
} */

.textOverflow2 span {
  max-width: 95%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -3px;
  word-break: break-all;
  white-space: nowrap;
}

.temporaryHide {
  display: none;
}

#dialogInput {
  margin-top: 0.8em;
}