.textOverflow span {
  max-width: 160px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -3px;
  word-break: break-all;
  white-space: nowrap;
  min-width: 100%;
}

.textOverflow p {
  max-width: 160px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 100%;
}